<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "LittleBank", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="bg-gradient-to-b from-base-100 to-base-200">
    <header>
      <nav class="navbar bg-gradient-to-r from-primary to-secondary shadow-lg">
        <div class="text-primary-content font-bold navbar-start flex-grow">LittleBank</div>
        <div class="flex-none justify-self-end">
          <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost btn-circle text-secondary-content"><i class="fa-solid fa-bars" /></label>
            <ul tabindex="0" class="dropdown-content menu shadow-lg bg-gradient-to-b from-accent to-accent-focus rounded-box text-secondary-content">
              <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
                <li><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %></li>
              <% end %>
              <%= render "_user_menu.html", assigns %>
            </ul>
          </div>
        </div>
        <% if false do %>
        <div class="flex-none">
        </div>
        <% end %>
      </nav>
    </header>
    <%= @inner_content %>
  </body>
</html>
